<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>Sed accumsan neque quam, sit amet vulputate metus scelerisque ut. Curabitur mollis in odio a venenatis. Integer eleifend mauris a dignissim dignissim. Suspendisse ultricies diam sit amet mauris accumsan, at pulvinar sapien lobortis. Donec ac lacinia nisi. Mauris sodales ipsum ac massa elementum, et vulputate justo commodo. Ut risus nibh, lacinia eget magna sit amet, rhoncus fringilla est. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer congue eros suscipit nisl tincidunt porta. Donec vitae lectus enim. Integer a accumsan diam. Morbi pulvinar commodo leo, non tristique augue accumsan vel. Praesent efficitur massa ac lacus lobortis mattis. Vivamus maximus at ante et tincidunt. Morbi lectus orci, sagittis nec nisl non, blandit cursus lorem. Maecenas eget eros at ante gravida ultrices.
    </p>
    <p>Vestibulum ullamcorper porttitor dui, sed viverra neque volutpat at. Mauris eu nibh at nibh venenatis ornare vitae pharetra eros. Cras at mi dolor. Sed a risus in sem faucibus dictum. Morbi consequat, lacus vel aliquet feugiat, nisl enim vestibulum nulla, sed placerat ex nulla et justo. Pellentesque efficitur a leo nec pellentesque. Aenean ac quam in neque dictum interdum.
    </p>
    <p>Vivamus in enim non sem facilisis aliquet. Nunc in iaculis nisl. Etiam vitae nisl ligula. Quisque fermentum, neque sed facilisis pharetra, velit sapien efficitur mauris, ac consequat purus neque at enim. Ut eu est vehicula, euismod justo eu, ultricies est. Cras dui diam, aliquam sit amet suscipit et, euismod eu risus. Quisque venenatis turpis nec iaculis tincidunt.
    </p>
    <br>
    <a href="{% url 'home' %}">Start Again!</a>

copyright 2018

  </body>
</html>
